Package: python-xpyb
Source: xpyb
Version: 1.3.1-1+kdienes2
Architecture: amd64
Maintainer: Julien Danjou <acid@debian.org>
Installed-Size: 799
Depends: libc6 (>= 2.14), libxcb1 (>= 1.6), python (<< 2.8), python (>= 2.7~), python:any (>= 2.7.5-5~)
Suggests: python-xpyb-doc
Provides: python2.7-xpyb
Section: python
Priority: optional
Homepage: http://xcb.freedesktop.org
Description: Python bindings to XCB (Python 2)
 This module provides Python binding to libxcb, the X C Bindings library.
 .
 It provides an interface to the X Window System protocol, designed to replace
 the Xlib interface, featuring latency hiding, small size, direct protocol
 access and thread support.
 .
 This is the Python 3 version of the package.
